
.main{
    height: 100%;
    width: 100%;
    .calculator{
        height: 500px;
        width: 500px;
        margin: auto;
        .display{
            height:100px;
            width:500px;
            background-color: black;
            font-size: 30px;
            color: white;
            font-weight: bold;
            text-align: end;
    line-height: 100px;
        }
        .keys{
            height: 400px;
            border: 1px solid #007bff;
            display: grid;
            grid-template-columns:  auto auto auto auto;
            text-align: center;
            font-size: 30px;
            grid-gap:10px;
            .equals{
                grid-row: 2/6;
                grid-column: 4/5;
            }
            button{
                font-weight: bold;
                background-color: #2196F3;
                cursor: pointer;
            }
        }
    }
}
