<div class="main">
  <app-header></app-header>
  <div class="section">
    <div class="section-level">
      <div class="section-text">
        <span class="upper-text">choose your </span>
        <span class="lower-text">level</span>
      </div>
      <div class="section-mode">
        <div class="section-difficult">
          <span>Difficult</span>
        </div>
        <div class="section-meduim">
          <span>Medium</span>
        </div>
        <div class="section-easy">
          <span>Easy</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
      <span class="start" (click)="onStart()">
          Let starts the Quiz
      </span>
  </div>
</div>
