header {
    display: flex;
    img {
      height: 100px;
      padding: 10px;
    }
    .heading {
      text-align: center;
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      span {
        font-size: 80px;
        letter-spacing: 60px;
        color: #fb55d8;
        text-shadow: 1px 1px #900395;
      }
    }
  }